<!DOCTYPE HTML>
<html xmlns:th="http://www.springframework.org/schema/data/jaxb">
	<head>
		<meta charset="utf-8">
		<meta name="renderer" content="webkit|ie-comp|ie-stand">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<link rel="Bookmark" th:href="@{/favicon.ico}"/>
		<link rel="Shortcut Icon" th:href="@{/favicon.ico}" />
		<!--[if lt IE 9]>
<script type="text/javascript" th:src="@{/lib/html5shiv.js}"></script>
<script type="text/javascript" th:src="@{/lib/respond.min.js}"></script>
<![endif]-->
		<link type="text/css" rel="stylesheet" th:href="@{/h-ui/css/H-ui.min.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/h-ui.admin/css/H-ui.admin.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/lib/Hui-iconfont/1.0.8/iconfont.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/h-ui.admin/skin/default/skin.css}" id="skin" />
		<link rel="stylesheet" type="text/css" th:href="@{/h-ui.admin/css/style.css}" />
		<!--[if IE 6]>
<script type="text/javascript" th:src="@{/lib/DD_belatedPNG_0.0.8a-min.js}" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
		<title>铸造装备性能可靠性分析系统</title>
		<meta name="keywords" content="H-ui.admin v3.1,H-ui网站后台模版,后台模版下载,后台管理系统模版,HTML后台模版下载">
		<meta name="description" content="H-ui.admin v3.1，是一款由国人开发的轻量级扁平化网站后台模板，完全免费开源的网站后台管理系统模版，适合中小型CMS后台系统。">
	</head>
	<body style="background-image: url(/image/meau.jpg);background-size: 220%">

	<header class="navbar-wrapper">

		<div class="navbar navbar-fixed-top " style="height: 60px;background-color: rgba(0,0,0,0);">
			<div class="container-fluid cl" style="height: 60px;background-color:rgba(0,0,0,0);">
					<a th:href="@{/home}">
				<img th:src="@{/image/xd1.png}" style="width: 12%;height: 90%;"/>
				<span style="color: white;font-weight: bold;font-size: 1.5rem;margin-left:2%;margin-top: 0.5%;position: absolute;">铸造装备可靠性分析系统可视化展示模块</span>
					</a>
				</div>
			</div>
		</header>
	<aside class="Hui-aside" style="background-color: rgba(0,0,0,0);">
			<div class="menu_dropdown bk_2">
			<dl id="menu-article">
					<dt><i class="Hui-iconfont">&#xe616;</i> 铸造装备故障树分析可视化<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
					<dd>
						<ul>
							<li><a data-href="f_wmsx" data-title="无模砂型加工中心可视化" href="javascript:void(0)">无模砂型加工中心可视化</a></li>
							<li><a data-href="f_dyzz" data-title="数字化低压铸造装备可视化" href="javascript:void(0)">数字化低压铸造装备可视化</a></li>
							<li><a data-href="f_zkcy" data-title="数字化真空差压铸造装备可视化" href="javascript:void(0)">数字化真空差压铸造装备可视化</a></li>
						</ul>
					</dd>
				<dt><i class="Hui-iconfont">&#xe616;</i> 铸造装备MTBF分析可视化<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
				<dd>
					<ul>
						<li><a data-href="f_MTBFwmsx" data-title="无模砂型加工中心可视化" href="javascript:void(0)">无模砂型加工中心可视化</a></li>
						<li><a data-href="f_MTBFdyzz" data-title="数字化低压铸造装备可视化" href="javascript:void(0)">数字化低压铸造装备可视化</a></li>
						<li><a data-href="f_MTBFzkcy" data-title="数字化真空差压铸造装备可视化" href="javascript:void(0)">数字化真空差压铸造装备可视化</a></li>
					</ul>
				</dd>
				</dl>

				<dl id="menu-article-Mark">
					<dt><i class="Hui-iconfont">&#xe616;</i> 隐马尔可夫退化分析可视化<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
					<dd>
						<ul>
							<li><a data-href="degenerationView_wmsx" data-title="无模砂型加工中心" href="javascript:void(0)">无模砂型加工中心</a></li>
							<li><a data-href="degenerationView_dyzz" data-title="数字化低压铸造装备" href="javascript:void(0)">数字化低压铸造装备</a></li>
							<li><a data-href="degenerationView_zkyc" data-title="数字化真空差压铸造装备" href="javascript:void(0)">数字化真空差压铸造装备</a></li>
						</ul>
					</dd>
				</dl>


				<dl id="menu-article-HDD">
					<dt ><i class="Hui-iconfont">&#xe616;</i> 堆栈式自编码器分析可视化<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
					<dd>
						<ul>
							<li><a data-href="reliabilityView" data-title="无模砂型加工中心" href="javascript:void(0)">无模砂型加工中心</a></li>
							<li><a data-href="reliabilityView2" data-title="数字化低压铸造装备" href="javascript:void(0)">数字化低压铸造装备</a></li>
							<li><a data-href="reliabilityView3" data-title="数字化真空差压铸造装备" href="javascript:void(0)">数字化真空差压铸造装备</a></li>
						</ul>
					</dd>
				</dl>


			</div>
		</aside>
		<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>
		<section class="Hui-article-box">
			<div id="Hui-tabNav" class="Hui-tabNav hidden-xs">
				<div class="Hui-tabNav-wp">
					<ul id="min_title_list" class="acrossTab cl">
						<li class="active">
							<span title="我的桌面" data-href="welcome">首页</span>
							<em></em></li>
					</ul>
				</div>
				<div class="Hui-tabNav-more btn-group"><a id="js-tabNav-prev" class="btn radius btn-default size-S" href="javascript:;"><i
						 class="Hui-iconfont">&#xe6d4;</i></a><a id="js-tabNav-next" class="btn radius btn-default size-S" href="javascript:;"><i
						 class="Hui-iconfont">&#xe6d7;</i></a></div>
			</div>
			<div id="iframe_box" class="Hui-article">
				<div class="show_iframe">
					<div style="display:none" class="loading"></div>
					<iframe scrolling="yes" frameborder="0" th:src="@{/welcomeview}"></iframe>
				</div>
			</div>
		</section>

		<div class="contextMenu" id="Huiadminmenu">
			<ul>
				<li id="closethis">关闭当前 </li>
				<li id="closeall">关闭全部 </li>
			</ul>
		</div>
		<!--_footer 作为公共模版分离出去-->
		<script type="text/javascript" th:src="@{/lib/jquery/1.9.1/jquery.min.js}"></script>
		<script type="text/javascript" th:src="@{/lib/layer/2.4/layer.js}"></script>
		<script type="text/javascript" th:src="@{/h-ui/js/H-ui.min.js}"></script>
		<script type="text/javascript" th:src="@{/h-ui.admin/js/H-ui.admin.js}"></script>
		<!--/_footer 作为公共模版分离出去-->

		<!--请在下方写此页面业务相关的脚本-->
		<script type="text/javascript" th:src="@{/lib/jquery.contextmenu/jquery.contextmenu.r2.js}"></script>

	</body>
</html>
