<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" xmlns:c="http://www.w3.org/1999/XSL/Transform">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">

    <title>系统可靠性计算模块</title>
    <!--<link rel="stylesheet" th:href="@{/css/system_ reliability.css}" type="text/css"/>-->
    <link rel="stylesheet" type="text/css" th:href="@{/h-ui/css/H-ui.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/h-ui.admin/css/H-ui.admin.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/lib/Hui-iconfont/1.0.8/iconfont.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/h-ui.admin/skin/default/skin.css}" id="skin" />
    <link rel="stylesheet" type="text/css" th:href="@{/h-ui.admin/css/style.css}" />
    <script type="text/javascript" th:src="@{/lib/jquery.js}" ></script>
    <script type="text/javascript" th:src="@{/lib/echarts/echarts.min.js}"></script>
    <!--_footer 作为公共模版分离出去-->
    <script type="text/javascript" th:src="@{/lib/jquery/1.9.1/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/lib/layer/2.4/layer.js}"></script>
    <script type="text/javascript" th:src="@{/h-ui/js/H-ui.min.js}"></script>
    <script type="text/javascript" th:src="@{/h-ui.admin/js/H-ui.admin.js}"></script>
    <!--/_footer 作为公共模版分离出去-->

    <!--请在下方写此页面业务相关的脚本-->
    <script type="text/javascript" th:src="@{lib/My97DatePicker/4.8/WdatePicker.js}"></script>
    <script type="text/javascript" th:src="@{lib/datatables/1.10.0/jquery.dataTables.min.js}"></script>
    <script type="text/javascript" th:src="@{lib/laypage/1.2/laypage.js}"></script>

</head>

<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i>堆栈式自编码性能退化分析<span class="c-gray en">&gt;</span>数字化真空差压铸造装备<span class="c-gray en"></span>  <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container" style="position: absolute;width: 97%;height: 90%;">
    <!--卡片式布局，外侧div引入class="page-container"以及上方5个公共div--模型计算区域-->
    <div class="panel panel-default" style="width: 67%;height: 55vh;float: left;margin-left: 0%;overflow-x:hidden;overflow-y:auto">  <!--id="panel"-->
        <div class="panel-header">模型计算 <!--onclick="jumpDialog()"--></div>
        <div class="panel-body" id="model_content"></div>

        <!--绘图区域-->
        <div style="width: 99.7%;height: 49vh;margin-top: -30px" id="panel">

        </div>
    </div>




    <!--模型说明及日志区域-->
    <div class="panel panel-default" style="width: 67%;height: 31vh;float: left;margin-left: 0%;margin-top: 2%;">
        <div class="panel-header">说明</div>
        <div class="panel-body" id="detail_text" style="font-size: 22px;float: left; width: 97%;height: 73%;overflow-x:hidden;overflow-y:auto;"></div>
        <!--<div class="panel-body" style="float: left;width: 63.6%;height:80%;overflow-x:hidden;overflow-y:auto;border-left: 1px solid #ddd;">
            <strong><p>参数详情</p></strong>
            <div id="param_text"></div>
        </div>-->
    </div>



    <!--参数设置区域-->
    <div class="panel panel-default" style="position: absolute;width: 30%;height: 90vh; float: left; right: 1%;">
        <div class="panel-header">参数设置</div>
        <div class="panel-body" id="param_form_area">


            <!--           <tr class="text-c" th:each="fileAndUpload:${fileAndUploadList}">
                           <td><a style="cursor:pointer" class="text-primary" th:text="${fileAndUpload.fileName}" th:href="@{'/dataReview/'+ ${fileAndUpload.id}}"></a></td>
                           <td th:text="${fileAndUpload.fileGroup}"></td>
                           <td th:text="${fileAndUpload.fileKind}"></td>
                           <td th:text="${fileAndUpload.fileTime}"></td>
                           <td th:text="${fileAndUpload.fileSize}"></td>
                       </tr>-->

            <p id="model"><strong>请选择模型：</strong></p>
            <div class="select-box" >
                <select id="modelVal" class="select" size="1" name="demo1" >
                    <option value="">请选择模型...</option>
                    <option th:each="algorithmList:${algorithmList}"  th:value="${algorithmList.algorithmname}" th:text="${algorithmList.algorithmname}"></option>
                </select>
            </div>
            <p id="modelxx" style="margin-top: 2vh"><strong>请选择数据源：</strong></p>
            <div class="select-box" >
                <select id="dataVal" class="select" size="1" name="demo1" >
                    <option value="">请选择模型...</option>
                    <option th:each="fileAndUploadperList:${fileAndUploadperList}" th:value="${fileAndUploadperList.fileName}"  th:text="${fileAndUploadperList.fileName}"></option>
                </select>
            </div>


            <p id="modelx" style="margin-top: 2vh"><strong>请填写参数：</strong></p>
            <div class="param_form_group" id="param1_formx">
                <form>
                    网 络 层 数：<input type="text" placeholder="请输入参数" class="input-text radius size-S"  value="3" style="margin:10px 15px 10px 15px;;width: 43%;"><br/><br/>
                    节  点  数：<input type="text" placeholder="请输入参数" class="input-text radius size-S"  value="0.8" style="margin:10px 15px 10px 35px;;width: 43%;"><br/><br/>
                    学  习  率：<input type="text" placeholder="请输入参数" class="input-text radius size-S"  value="0.9" style="margin:10px 15px 10px 35px;;width: 43%;"><br/><br/>
                </form>
            </div>
            <input class="btn btn-primary radius" type="button" style="margin-top: 5%; margin-left: 82%;width: 15%;" value="运行" onclick="system();" />
            <!--参数输入框，暂时未使用，待后期调用-->
            <div class="param_form_group" id="param1_form" style="display:none;">
                <form>
                    参数1<input type="text" placeholder="请输入参数" class="input-text radius size-S" style="margin:10px 15px 10px 15px;;width: 43%;">参数1简介<br/>
                    参数2<input type="text" placeholder="请输入参数" class="input-text radius size-S" style="margin:10px 15px 10px 15px;;width: 43%;">参数2简介<br/>
                    参数3<input type="text" placeholder="请输入参数" class="input-text radius size-S" style="margin:10px 15px 10px 15px;;width: 43%;">参数3简介<br/>
                    参数4<input type="text" placeholder="请输入参数" class="input-text radius size-S" style="margin:10px 15px 10px 15px;;width: 43%;">参数4简介<br/>
                </form>
            </div>
            <div class="param_form_group" id="param2_form" style="display:none;">
                <form>
                    参数1<input type="text" placeholder="请输入参数" class="input-text radius size-S" style="margin:10px 15px 10px 15px;;width: 43%;">参数1简介<br/>
                    参数2<input type="text" placeholder="请输入参数" class="input-text radius size-S" style="margin:10px 15px 10px 15px;;width: 43%;">参数2简介<br/>
                    参数3<input type="text" placeholder="请输入参数" class="input-text radius size-S" style="margin:10px 15px 10px 15px;;width: 43%;">参数3简介<br/>
                    参数4<input type="text" placeholder="请输入参数" class="input-text radius size-S" style="margin:10px 15px 10px 15px;;width: 43%;">参数4简介<br/>
                    参数5<input type="text" placeholder="请输入参数" class="input-text radius size-S" style="margin:10px 15px 10px 15px;;width: 43%;">参数5简介<br/>
                    参数6<input type="text" placeholder="请输入参数" class="input-text radius size-S" style="margin:10px 15px 10px 15px;;width: 43%;">参数6简介<br/>
                </form>
            </div>
            <div class="param_form_group" id="param3_form" style="display:none;">
                <form>
                    参数1<input type="text" placeholder="请输入参数" class="input-text radius size-S" style="margin:10px 15px 10px 15px;;width: 43%;">参数1简介<br/>
                </form>
            </div>

            <div class="param_form_group" id="param_form4" style="display:none;">
                <form>
                    参数1<input type="text" placeholder="请输入参数" class="input-text radius size-S" style="margin:10px 15px 10px 15px;;width: 43%;">参数1简介<br/>
                    参数2<input type="text" placeholder="请输入参数" class="input-text radius size-S" style="margin:10px 15px 10px 15px;;width: 43%;">参数2简介<br/>
                    参数3<input type="text" placeholder="请输入参数" class="input-text radius size-S" style="margin:10px 15px 10px 15px;;width: 43%;">参数3简介<br/>
                    参数4<input type="text" placeholder="请输入参数" class="input-text radius size-S" style="margin:10px 15px 10px 15px;;width: 43%;">参数4简介<br/>
                    参数5<input type="text" placeholder="请输入参数" class="input-text radius size-S" style="margin:10px 15px 10px 15px;;width: 43%;">参数5简介<br/>
                </form>
            </div>
            <div class="param_form_group" id="start_information" style="display:none;">
                <p>建模工具的步骤：</p>
                <p>建模工具的注意事项：</p>
            </div>
            <div class="param_form_group" id="stop_information" style="display:none;">
                <p>模型的保存：</p>
                <p>建模的调用注意事项：</p>
            </div>
        </div>
    </div>

    <div id="modal-demo" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <!-- 弹出对话框 -->
        <div class="modal-dialog">
            <div class="modal-content radius">
                <div class="modal-header">
                    <h3 class="modal-title">模型保存</h3>
                    <a class="close" data-dismiss="modal" aria-hidden="true">×</a>
                </div>
                <div class="modal-body">
                    <strong>名称：</strong><input type="text" placeholder="请输入模型名称" class="input-text radius size-S" style="margin:10px 15px 10px 15px;;width: 43%;" id="saveName">
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal" onclick="save();">确定</button>
                    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script type="text/javascript" th:src="@{/echarts.js}"></script>
<script type="text/javascript">


    function hideLoading() {
        window.layer.closeAll();
    }


    function system() {



        var myselect = document.getElementById("modelVal");
        var index = myselect.selectedIndex;
        var modelVals = myselect.options[index].value;


        var myselect = document.getElementById("dataVal");
        var index = myselect.selectedIndex;
        var dataVals = myselect.options[index].value;

        if (modelVals==""){
            $.Huimodalalert('请选择模型', 1000);
        }else if(dataVals ==""){
            $.Huimodalalert('请选择数据源', 1000);
        } else{

            document.getElementById('detail_text').innerHTML = "";
            document.getElementById("detail_text").append("利用机械频域信号来训练SAE网络，实现机械装备性能退化特征的自适应提取；根据机械装备性能退化的特点，引入相关性和单调性对特征进行评价；基于状态特征空间距离计算可靠性，实现机械装备服役可靠性的评估");
            document.getElementById("detail_text").appendChild(document.createElement("br"));

            var experimentname = {
                "dataVals": dataVals,
                "modelVals": modelVals,
            };


            $.ajax({
                async: true,
                type: "post",
                dataType: "json",
                contentType: 'application/json;charset=UTF-8',
                data: JSON.stringify(experimentname),
                url: '/perform/analyseRun1',

                success: function (data) {


                    var len = data.read.length;

                    var array = new Array();
                    for (var i = 0; i < len; i++) {
                        array[i] = i;
                    }


                    // 基于准备好的dom，初始化echarts实例
                    var myChart =echarts.init(document.getElementById('panel'));
                    // 指定图表的配置项和数据
                    var option = {
                        // tooltip: {
                        //     trigger: 'axis'
                        // },
                        toolbox: {
                            feature: {
                                saveAsImage: {}
                            }
                        },
                        xAxis: {
                            type: 'category',
                            data: array

                        },
                        yAxis: {
                            type: 'value'
                        },

                        series: [{
                            data: data.read,
                            type: 'line',
                            symbol: 'none',
                            smooth: true
                        }]
                    };

                    // 使用刚指定的配置项和数据显示图表。
                    myChart.setOption(option);
                },
            });

            $.Huimodalalert('计算完成',1000);



        }







    }
</script>





</body>
</html>